.linkStyle {
  background-color: #3a80af;
  border-radius: 20px;
  color: #fff;
  margin-right: 10px;
}

.sectionStyle {
 background-color: #c5b5b5;
 height: 60px;
}

.navbarStyle {
  background-color: #c5b5b5;
}